.set-position-btn {
    position: absolute;
    bottom: 5%;
    left: 47%;
    transform: translateX(-50%);
    padding: 0px;
    border: none;
    background-color: transparent;
}
.set-position-btn img {
    height: 52px;
}